@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


//Fonts
$mainFont:'Lato', sans-serif;

//FontWeight
$normal:400;
$thin:300;
$bold:700;
$black:900;

// Colors
$color-white:#ffffff;
$color-blue:#003049;
$color-red:#d00000;
$color-green:#008000;
$color-gray:#333533;
$color-gray-light:#8b8c89;